<br/>

<div nz-row>
  <div nz-col nzSpan="4"></div>
  <div nz-col nzSpan="16">
    <br/>
    <button nz-button nzType="primary" class="add-patient-button"><i nz-icon nzType="plus" nzTheme="outline"></i> Add Patient</button>
    <br/><br/>
    <nz-table #basicTable>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Check-in</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let data of basicTable.data"> -->
        <tr> 
          <td>John Doe</td>
          <td>25</td>
          <td>Male</td>
          <td>12/12/21</td>
          <td>
            <div nz-row>
              <div nz-col nzSpan="8">
                <button nz-button nzType="text" (click)="showModal()"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
              </div>
              <div nz-col nzSpan="8">
                <button nz-button nzType="text"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
              </div>
              <div nz-col nzSpan="8">
                <button routerLink="/patient-details" nz-button nzType="text"><i nz-icon nzType="user" nzTheme="outline"></i></button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="4"></div>
  <!-- <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button> -->
  <nz-modal nzTitle="Add Patient" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <p>Add patient modal content</p>
    </ng-container>
  </nz-modal>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Edit Patient" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <p>Edit patient modal content</p>
    </ng-container>
  </nz-modal>
  <nz-modal nzTitle="Delete Patient" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <p>Delete patient modal content</p>
    </ng-container>
  </nz-modal>
</div>